.header {
  align-items: center;
  background-color: #131921;
  display: flex;
  height: 60px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  margin: 18px 20px 0 20px;
  object-fit: contain;
  width: 100px;
}

.header__search {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 10px;
}

.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}

.header__searchIcon {
  cursor: pointer;
  padding: 5px;
  height: 22px !important;
  background-color: #cd9042;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header__optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.header__nav {
  display: flex;
  justify-content: space-evenly;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin: 0 15px;
  color: white;
  transition: all 0.1s;
}
.header__option:hover {
  transform: scale(1.04);
}
.header__option:active {
  transform: scale(0.96);
}
