.payment {
  background-color: white;
  padding-bottom: 50px;
}

.payment__priceContainer {
  margin: 25px 0;
}

.payment__container > h2 {
  background-color: rgb(234, 237, 237);
  border-bottom: 1px solid lightgray;
  font-weight: 400;
  padding: 10px 40px;
  text-align: left;
}

.payment__container > h1 a {
  text-decoration: none;
}

.payment__section {
  border-bottom: 1px solid lightgray;
  display: flex;
  margin: 0 20px;
  padding: 20px;
}

.payment__title {
  flex: 0.3;
}

.payment__address,
.payment__items,
.payment__details {
  flex: 0.8;
}

.payment__details > form {
  margin-top: 8px;
  max-width: 400px;
}

.payment__details > form > strong {
  margin: 8px;
  /* max-width: 400px; */
}

.payment__details > h3 {
  padding-bottom: 20px;
}

.payment__details > form > div > button {
  background: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  border-radius: 2px;
  color: #111;
  cursor: pointer;
  font-weight: bolder;
  height: 30px;
  margin-top: 10px;
  transition: all 0.1s;
  width: 100%;
}

.payment__details > form > div > button:hover {
  transform: scale(1.02);
}
.payment__details > form > div > button:active {
  transform: scale(0.98);
}

.payment__emptyBasket {
  justify-content: center;
  color: #11111190;
  display: flex;
  flex-direction: column;
}

.payment__emptyBasket > span {
  margin-bottom: 10px;
}
