.product {
  align-items: center;
  background-color: white;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 10px;
  max-height: 400px;
  min-width: 100px;
  padding: 20px;
  transition: all 0.1s;
  width: 100%;
  z-index: 1;
}

.product:hover {
  transform: scale(1.01);
  box-shadow: 0px 0px 10px #11111175;
}

.product__addToBasket {
  border-radius: 2px;
  padding: 5px;
  transition: all 0.1s;
}
.product__addToBasket:hover {
  transform: scale(1.02);
}
.product__addToBasket:active {
  transform: scale(0.98);
}

.product__rating {
  display: flex;
}

.product > img {
  margin-bottom: 15px;
  max-height: 200px;
  object-fit: contain;
  width: 100%;
}

.product > button {
  background: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
  cursor: pointer;
  margin-top: 10px;
}

.product__price {
  margin-top: 5px;
}

.product__info {
  height: 100px;
  margin-bottom: 15px;
}
